{
    "listen": ":56164",
    "certificate": "/etc/letsencrypt/live/{{ juicity_domain }}/fullchain.pem",
    "private_key": "/etc/letsencrypt/live/{{ juicity_domain }}/privkey.pem",
    "users": {
        "c81cfb07-4a9e-40da-b797-4f331dda1830": "689df2238eb3fad4"
    },
    "congestion_control": "bbr",
    "log_level": "info"
}